|Seedstarter is a crowdfunding website for science research. Eligible researchers can submit a project to Seedstarter, and if selected, it will be hosted and promoted on the Seedstarter site. Then, members of the public can support the project with financial contributions in exchange for rewards based on their contributions.
#show_tips
  a href='#' See more tips on how Seedstarter works