h2 What makes a good crowdfunding campaign?
h3 A research outcome that resonates with a community...
p Seedstarter hosts projects from a range of scientific disciplines. But the most successful campgains are built around problems or science areas that members of the public are passionate about. Take some time to explore who in the community is passionate about your research, to get an idea as to whether you'll be able to find the financial backing that you are looking for.
h3 Clear, easily-understood research goals...
p Remember that you are trying to connect with the public. The more successful you are at expressing your research in terms of clear outcomes, the more likely it is that you will find supporters.