= content_for :title, t('.title')
#page_content
  .container
    .static_default
      .title
        h1 Privacy Policy
        h2 How we protect your privacy
      . Text.default_text
        p We strive to make it easy to organize and manage a science research fundraising project.
        p Your Seedstarter account:
        ol
          li supporters - people who register to be supporters (who will contribute financially to the project) need to provide your full name, email, address, and telephone (the latter only by an obligation by the MoIP, for those who prefer to use this means of payment).
          read Creators Project - people who are interested in submitting a project need to provide the following information: full name, address and telephone number. They will be required by the team of Catharsis after sending the project only if the project is selected to air. There will also be a need to create an "Account Business / Professional" on site MoIP.
        p We respect your privacy and will not provide your name or any personal information to third parties. If you choose to include this personal information in your project (for example, in describing the work you are doing), you must be aware that it is visible to the public.
        p MoIP and Paypal are the services that process all Seedstarter transactions. Only these payment services have access to your payment information - this information is not disclosed to Seedstarter.
        h2 Email
        p We communicate with you only if you want this to happen.
        p We send you emails relating to your transactions and personal ads related to services, but only do it when necessary.
        p You will also receive some notifications that may be waived if you choose (via the opt-out).
        p The creators of projects will have access to the email addresses of their supporters, as well as the values ​​supported and rewards selected.
        h2 Update Privacy Policy
        p Seedstarter reserves the right to update its privacy policy at any time. Information on updates will be sent to the email address provided or will be placed in a prominent place on the site.
        p We reserve the right to disclose your personal information as required by law and when we believe that disclosure is necessary to protect our rights.
        p To modify or delete any or all personal information you provide to us, please login and update your profile.
        p Any questions about this Privacy Policy should be sent to the address mail_to # {t ('site.email.contact'), t ('site.email.contact'),: target =>: _blank}.
    . Clearfix